@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #FFB5B5;
    --color-text-inverted: #5d6fe0;
    --color-fill: #000B49;
    --color-button-accent: #9B0000;
    --color-button-accent-hover: #ffffff;
    --color-button-muted: #FF7272;
  }
}

html {
  scroll-behavior: smooth
}

#Hero {
  background-image: url('../src/components/assets/dots.svg');
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: 3% 4%;
}

#CTA {
  background-image: url('../src/components/assets/dotsCTA.svg');
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 85% 20%;
}



.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom{
  position: absolute;
  top:0;
  left: 0;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle{
  transform: translateY(7px);
}
.hamburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
  display: none;
}

.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}